@model ArticleEditViewModel

@{
    ViewData["Title"] = "Modifier";
}

<h1>Modifier</h1>

<h4>@Html.DisplayTextFor(model => model.Name)</h4>
<hr>
<div>
    <div class="row">
        <form asp-action="Edit" class="col-md-7" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_SavedImagePartial" for="ImageId">
 
            <input type="hidden" asp-for="Id" />

            <partial name="_EditFieldsPartial">

            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste des articles</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
