@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>

    <p>Ceci est une application de gestion et d'organisation</p>
    
    <div class="text-justify">
        <h2>Buts</h2>

        <dl>
            <dt>Maquillage</dt>
            <dd>Un gestionnaire des quantités de différents articles de maquillage</dd>
        </dl>
    </div>
    
</div>
